main {
    margin-right: 6vw;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    margin-top: 5vh;
}

.input-block {
    margin-bottom: 5vh;
}

.login {
    font: 700 3.2rem Mulish;
    color: var(--primary-text-color);
    align-self: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

input,
textarea {
    font-weight: 500;
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 100%;
    height: 100px;
}

input,
textarea :focus {
    outline: none;
}


.select-block label,
.input-block label,
.textarea-block label {
    font: 400 1.8rem Mulish;
    color: var(--secondary-text-color);
}

.input-block input,
.select-block select,
.textarea-block .up-img {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--input-color);
    border: 1px solid var(--border-color);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem;
}

.textarea-block .up-img {
    border: 1px dashed var(--border-dotted-color);
    padding: 30%;
    height: 25rem;
    resize: none;
    background-color: var(--send-img);
}

form {
    display: flex;
    flex-direction: column;
}

.login-btn {
    width: 90px;
    height: 90px;
    border-radius: 30px;
    border-style: none;
    border: 3px solid var(--border-color);
    background-color: transparent;
    color: var(--primary-text-color);
    font: 700 2.4rem Mulish;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s;
}

.login-btn:hover {
    background-color: var(--arrow-hover-button-color);
}

#photo {
    background-color: var(--border-color);
    display: none;
    height: 100vh;
    width: 75vw;
}

@media (min-width: 768px) {
    #photo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row;
    }

    #form-left {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }

    #image {
        width: 50px;
        height: 50px;
    }

    #email {
        height: 4.4rem;
    }

    #password {
        height: 4.4rem;
    }

}